.venv
--- Python ---
pycache/
*.py[cod]
*.pyo
*.pyd
*.so

--- Virtualenv ---
.venv/
env/
venv/
ENV/

--- Django ---
*.log
*.pot
*.pyc
media/
staticfiles/

--- IDE/OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db