# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# --- Virtualenv ---
.venv/
env/
venv/
ENV/

# --- Django ---
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# --- IDE/OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db
