{% extends "base.html" %}
{% load static %}

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="register-container">
    <div class="register-card">
        <h1 class="register-title">Connexion</h1>
        <form method="POST" class="register-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-submit">Se connecter</button>
        </form>
        <p class="login-link">Pas encore inscrit ? <a href="{% url 'users_app:register' %}">S'inscrire</a></p>
    </div>
</div>
{% endblock %}
