{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Booking Game</title>
    <link rel="stylesheet" href="{% static 'tables_app/css/style.css' %}">
</head>
<body>
    <h2>Bienvenue sur Booking Game !</h2>
    <nav>
        <ul>
            <li><a href="{% url 'tables_app:home' %}">Home</a></li>
            <li><a href="{% url 'tables_app:calendar' %}">Réserver</a></li>
        </ul>
    </nav>
    {% if user.is_authenticated %}
        <p>Vous êtes connecté en tant que {{ user.username }}.</p>
        <a href="{% url 'logout' %}">Déconnexion</a>
    {% else %}
        <p>Veuillez vous <a href="{% url 'login' %}">connecter</a> ou vous <a href="{% url 'register' %}">inscrire</a>.</p>
    {% endif %}
    <script src="{% static 'tables_app/js/script.js' %}"></script>
</body>
</html>
